# =============================================================================
# SERVER CONFIGURATION
# =============================================================================
PORT=8080
NODE_ENV=development

# =============================================================================
# DATABASE CONFIGURATION
# =============================================================================
DB_CONNECTION_STRING=postgresql://postgres:a]*Z;t7xUl7$3-^]@35.225.104.96/message_whatsapp
DB_HOST=35.225.104.96
DB_PORT=5432
DB_NAME=message_whatsapp
DB_USER=postgres
DB_PASSWORD=a]*Z;t7xUl7$3-^]

# =============================================================================
# INTERAKT API CREDENTIALS
# =============================================================================
INTERAKT_WABA_ID=729531830246522
INTERAKT_ACCESS_TOKEN=rC8uFUXFoRz5jtnSbG2RzhEm6tVBgliN
INTERAKT_PHONE_NUMBER_ID=729531830246522
INTERAKT_APP_ID=2524533311265577
FACEBOOK_USER_ACCESS_TOKEN=


# =============================================================================
# WEBHOOK CONFIGURATION
# =============================================================================
WEBHOOK_VERIFY_TOKEN=your_verify_token_here
WEBHOOK_URL=https://your_actual_domain.com/webhook

# =============================================================================
# FEATURE FLAGS
# =============================================================================
USE_FALLBACK_WHEN_ERROR=false

# =============================================================================
# API VERSIONS (usually don't change these)
# =============================================================================
FACEBOOK_API_VERSION=v18.0
INTERAKT_API_VERSION=v17.0

# =============================================================================
# API BASE URLS (usually don't change these)
# =============================================================================
FACEBOOK_GRAPH_API_BASE_URL=https://graph.facebook.com
INTERAKT_API_BASE_URL=https://api.interakt.ai
INTERAKT_AMPED_EXPRESS_BASE_URL=https://amped-express.interakt.ai/api/v17.0
INTERAKT_BASE_URL=https://amped-express.interakt.ai/api/v17.0


# =============================================================================
# JWT CONFIGURATION (ADD THESE LINES)
# =============================================================================
JWT_SECRET=75411223097542121245
JWT_EXPIRES_IN=1d


SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=notification@shopzo.app
SMTP_PASS=Notificaton@1
EMAIL_FROM=notification@shopzo.app


# FRONTEND_BASE_URL=http://localhost:3000
# API_BASE_URL=http://localhost:8080/api
FRONTEND_BASE_URL=https://message.shopzo.app
API_BASE_URL=https://api.shopzo.app/api


